{% extends 'stay/base.html' %}
{% block title %}Sign Up as Hotel Owner - InstaStay{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-hotel"></i> Sign Up as Hotel Owner
                    </h4>
                    <small>Manage your hotel, rooms, and reservations</small>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <h5 class="mb-3">Account Information</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Username *</label>
                                {{ form.username }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Email *</label>
                                {{ form.email }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">First Name *</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Last Name *</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Phone Number *</label>
                            {{ form.phone }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Password *</label>
                                {{ form.password1 }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Confirm Password *</label>
                                {{ form.password2 }}
                            </div>
                        </div>
                        
                        <hr>
                        <h5 class="mb-3">Hotel Information</h5>
                        
                        <div class="mb-3">
                            <label class="form-label">Hotel/Business Name *</label>
                            {{ form.hotel_name }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Hotel Description *</label>
                            {{ form.hotel_description }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Hotel Address *</label>
                            {{ form.hotel_address }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">City *</label>
                                {{ form.hotel_city }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Country *</label>
                                {{ form.hotel_country }}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Hotel Phone *</label>
                            {{ form.hotel_phone }}
                        </div>
                        
                        <div class="alert alert-success">
                            <i class="fas fa-gift"></i> As a hotel owner, you can:
                            <ul class="mb-0 mt-2">
                                <li>Manage your hotel profile</li>
                                <li>Add, edit, and delete rooms</li>
                                <li>View and manage reservations</li>
                                <li>Track booking history and revenue</li>
                            </ul>
                        </div>
                        
                        <button type="submit" class="btn btn-success w-100">
                            <i class="fas fa-hotel"></i> Register as Hotel Owner
                        </button>
                    </form>
                    <hr>
                    <p class="text-center mb-0">
                        Already have an account? <a href="{% url 'login' %}">Login here</a><br>
                        Are you a customer? <a href="{% url 'customer_register' %}">Register as Customer</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}